<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>ServeAngularInPython</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.ef46db3751d8e999.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.4c7a7ef8ff65fe77.js" type="module"></script><script src="polyfills.32a2f62a3b6a60f8.js" type="module"></script><script src="main.6db6653a8af11cb8.js" type="module"></script>

</body></html>